/* A CSS Framework by Mike Stenhouse of Content with Style */

/* FORM ELEMENTS */
	form {
		margin:0;
		padding:0;
	}
	form div,
	form p {
		font-size: 1em;
		margin: 0 0 1em 0;
		padding: 0;
	}
	label {
		font-weight: bold;
	}
	errorLabel {
		font-weight: bold;
		color: #FF0000;
	}
	fieldset {
		border: 1px solid #eee;
		padding: 5px 10px;
		margin: 0 0 1.5em 0;
		z-index:0;
	}
	fieldset legend {
		color: #666;
		font-size: 1.1em;
		font-weight: bold;
		margin: 0 0 0 0px;
		padding: 0;
		background-color: #ECF1F9;
	}
	* html fieldset legend {
		margin: 0 0 10px -10px;
	}
	fieldset div.notes {
		float: right;
		width: 260px;
		height: auto;
		margin: 0 0 10px 10px;
		padding: 5px;
		border: 1px solid #666666;
		background-color: #ffffe1;
		color: #666666;
		font-size: 88%;
	}
	fieldset div.notes h4 {
		background-image: url(/central/common/img/icon_info.gif);
		background-repeat: no-repeat;
		background-position: top left;
		padding: 3px 0 3px 27px;
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: #666666;
		color: #666666;
		font-size: 110%;
	}
	fieldset div.notes p {
		margin: 0em 0em 1.2em 0em;
		color: #666666;
	}
	fieldset div.notes p.last {
		margin: 0em;
	}
	fieldset ul {
		list-style: none;
		margin: 0 0 1.5em 0;
		padding: 0;
	}
	fieldset ul li {
		list-style: none;
		margin: 0 0 0.5em 0;
		padding: 0;
	}


	input, select, textarea {
		font-size:1em;
		font-family: arial, helvetica, verdana, sans-serif;

        margin: 0;
		padding: 2px;
	}

	input, select {
		vertical-align:middle;
	}

	input.check {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.radio {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.file {
		height: auto;
		width: 250px;
	}
	input.readonly {
		background-color: transparent;
		border: none;
	}
	input.button {
		width: 10em;
		border:1px solid black;
		background-color: #ddd;
	}
	input.image {
		border: none;
		width: auto;
		height: auto;
	}

    form div.submit {
		margin: 1em 0;
	}
    form div.submit input {
		height: 2em;
        width: 15em;
	}

/* END FORM ELEMENTS */

