#list-table
{
	margin: 0px;
	text-align: left;
	border-collapse: collapse;
}

#list-table th
{
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}

#list-table td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}

#list-table tr:hover td
{
	background: #d0dafd;
	color: #339;
}
